{% extends 'bookings/base.html' %}

{% block title %}Current Bookings{% endblock %}

{% block content %}
<h2>Current Booking History</h2>

<!-- Bootstrap table  -->
<table class="table">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Seat</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    <!-- Loops through each booking and displays  -->
    {% for booking in bookings %}
        <tr>
            <!-- Displays movie title  -->
            <td>{{ booking.movie.title }}</td>
             <!-- Displays seat number  -->
            <td>{{ booking.seat.seat_number }}</td>
             <!-- Displays booking date  -->
            <td>{{ booking.booking_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}